body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    border-color: blue;
    width: 25%;
    margin: 8px;
    margin-top: -20px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu{
    padding: 5px;
    font-size: 18px;
}

button:active {
    border-width: 3px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    margin-top: 150px;
}

#p1 {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3%;
}

img {
    margin: 300px;
    
}

table {
    border-collapse: collapse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1150px;
    font-size: 18px;
}

td {
    border: 1px solid black;
    width: 4cm;
    padding: 20px;
}

#h {
    background-color: rgb(127, 238, 255);
}

#h1 {
    background-color: rgb(155, 215, 239);
}

#h11 {
    background-color: rgb(209, 232, 242);
}

#cuadro {
    margin: 30px;
}

input {
    font-size: medium;
}

input:hover {
    background-color: lightsalmon;
}

img {
    width: 500px;
}

#imagen2 {
    width: 400px;
    margin-top: 10px;
}

legend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer {
    margin-left: -8px;
    background-color: rgb(92, 92, 92);
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: 100%;
    height: 40px;
    color: white;
    font-size: 15px;
    text-align: left;
}

#pie {
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cabecera {
    margin-left: -8px;
    background-color: rgb(34, 51, 235);
    position: fixed;
    top: 0;
    width: 100%;
    margin-right: 100%;
    height: 100px;
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    font-size: 18px
}